<!DOCTYPE busconfig PUBLIC "-//freedesktop//DTD D-Bus Bus Configuration 1.0//EN" "http://www.freedesktop.org/standards/dbus/1.0/busconfig.dtd">
<busconfig>
  <policy user="tova">
    <allow eavesdrop="true"/>
    <allow eavesdrop="true" send_destination="*"/>
    <allow own="io.itemper">
    <allow eavesdrop="true" send_interface="io.itemper" send_member="*"/>
  </policy>
</busconfig>
